#nav-list {
	margin: 0;
}
#nav-list > li {
	background-color: #80ffbf;
	margin: 0;
	padding: 0;
	border: 1px solid #00b300;
}
#nav-list :nth-child(2) {
	border-top: 0px;
	border-bottom: 0px;
}
.container {
	margin: 0px;
	padding: 0;
}
.navbar-header {
	padding: 15px;
}
#grid {
	margin: 15px;
	padding: 15px;
	background-color: #ccffe6;
	height: 1000px
}