/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  background-color: #e6f7ff;
  margin: 0px;
}

body {
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 21px;
  margin: 30px;
}

p {
  margin: 30px 10px 10px;
  background-color: #cce6ff;
}

.title {
  float: right;
  border: 1px solid black;
  width: 45%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#title1 {
background-color: #0059b3;
}

#title2 {
background-color: #00802b;
}

#title3 {
background-color: #9900cc;
}

.container {
  border: 1px solid black;
  background-color: #cce6ff;
  margin: 20px;
  color: black;
  font-size: 12px;
  text-align: justify;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6  {
    width: 50%;
    float: left;
  }
  .col-md-12  {
    width: 100%;
    float: left;
  }
}